/* body{
    background-color: blueviolet;
} */

.navbar {
    width: 100vw;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: caidaAbajo 0.8s ease-out;

}

@keyframes caidaAbajo {

    from{
        transform: translateY(-100%);
        opacity: 0;
    }

    to{
        transform: translateY(0);
        opacity: 1;
    }


}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    display: inline-block;
}

a:hover {
    color: rgba(180, 169, 169, 0.74);

}

.navbar h1 {
    color: rgb(173, 95, 95);
    margin-left: 1rem;
    animation: rebotar 2s ease infinite ;
    cursor: pointer;
    transition: transform 0.3s ease;
}

@keyframes rebotar {
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.container{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
    border: 2px solid red;
    top: 150px;
    left: 50%;
    position: relative;

}

.container img {
    border: 2px solid blue;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
    animation: resaltar 3s ease;
    transition: transform 1s ease-in-out;
    
}

@keyframes resaltar {
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(20px);

    }
}

.container h2{
    border: 2px solid blueviolet;
    padding: 20px;
    margin: 10px;
    top: 30px;
    position: relative;
    width: 100px;
    height: 200px;
}

 a::after{
    content:'';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: rgb(219, 73, 20);
    transition: width 0.3s ease;

}

 a:hover::after{
    width: 100%;
}

.container h2{
    color: rgb(125, 90, 159);
    font-size: 32px;
    animation: subirYbajar 1s ease-out;
    transition: transform 0.3s ease, color 0.3s ease;
}

@keyframes subirYbajar {
    from{
        opacity: 0;
        transform: translateY(150px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
    
}

